body {
    background-image: url(https://img.freepik.com/vector-gratis/patron-costuras-grunge-calaveras_225004-1117.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2cm;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: white;
        display:flex;
        }
h2 {
            color: #b7d02a; }       
p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}     
li {
    font-size: 25px;
}      
.navbar {
    background-color: #333;
    overflow: hidden;
    margin: -2cm;
    margin-top: 2cm;
    }
    .navbar a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .navbar a:hover {
    background-color: #ddd;
    color: black;
    }
    img {
        cursor:not-allowed }