body {
    background-image: url(https://wallpapers.com/images/hd/metallica-justice-artwork-msgbuiit4iu55zaf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    align-items: center;
}

h1 {
    color: rgb(255, 0, 0);
}
p {
    color:white
}
table {
    width: 100%;
    border-collapse: collapse;
    }
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    }
th {
    background-color: #f2f2f2;
    }
td {
    color: white;
}    

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    }
    
.button:hover {
    background-color: #f2ff05;
    }